<p id="notice"><%= notice %></p>

<h1>Catatan kegiatan</h1>

<table>
  <thead>
    <tr>
      <th>Nama</th>
      <th>Sudah dilakukan?</th>
      <th>Dibuat pada</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td><%= note.done ? 'sudah' : 'belum' %></td>
        <td><%= note.created_at.to_formatted_s(:short) %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path %>
